$def with (host_id, status)

<!DOCTYPE html>
<html>
    <head>
        <title>monit-remote</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/include/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom -->
        <link href="/static/css/app.css" rel="stylesheet">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">monit-remote</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#" host-id="$host_id" id="add-monit-config">Add Configuration</a></li>    
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h1>Host Details</h1>
                <p>$status['systems'][0]['name']</p>
                <p>$status['platform']</p>
            </div>
            $if len(status['processes']) > 0:
                <div class="page-header">
                    <h1>Processes</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Uptime</th>
                            <th>PID</th>
                            <th style="width: 100px">CPU</th>
                            <th style="width: 100px">Memory</th>
                            <th style="width: 100px">
                            <th style="width: 100px">
                            <th style="width: 100px">
                            <th style="width: 100px">
                        </tr>
                    </thead>
                    <tbody>
                        $for proc in status['processes']
                        <tr>
                            <td>$proc['name']</td>
                            $if proc['status'] == '0' and proc['monitored'] == '2':
                                 <td style="color:orange">initializing</td>
                            $elif proc['status'] == '0' and proc['monitored'] == '1':
                                 <td style="color:green">running</td>
                             $elif proc['status'] == '2' and proc['monitored'] == '1':
                                 <td style="color:red">alert</td>
                            $elif proc['status'] == '0' and proc['monitored'] == '0':
                                 <td style="color:red">not monitored</td>
                            $elif proc['status'] == '512' and proc['monitored'] == '1':
                                 <td style="color:red">does not exist</td>
                            $else:
                                 <td style="color:red">unknown</td>
                           
                            <td>$proc['uptime'] s</td>
                            <td>$proc['pid']</td>
                            <td>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="$proc['cpu']" aria-valuemin="0" aria-valuemax="100" style="width: $proc['cpu']%;">
                                    <span class="show">$proc['cpu'] %</span>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="$proc['memory']" aria-valuemin="0" aria-valuemax="100" style="width: $proc['memory']%;">
                                    <span class="show">$proc['memory_kilobyte'] KB</span>
                                  </div>
                                </div>
                            </td>
                            <td><button type="button" class="btn btn-success" action="start-proc" host-id="$host_id" proc-name="$proc['name']">Start</button></td>
                            <td><button type="button" class="btn btn-danger" action="stop-proc" host-id="$host_id" proc-name="$proc['name']">Stop</button></td>
                            <td><button type="button" class="btn btn-primary" action="restart-proc" host-id="$host_id" proc-name="$proc['name']">Restart</button></td>
                            <td><button type="button" class="btn btn-info" action="edit" host-id="$host_id" proc-name="$proc['name']">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            
            $if len(status['filesystems']) > 0:
                <div class="page-header">
                    <h1>Filesystems</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th style="width: 200px">Space Usage</th>
                            <th style="width: 200px">Inodes Usage</th>
                            <th style="width: 100px">
                        </tr>
                       
                    </thead>
                    <tbody>
                        $for fs in status['filesystems']
                        <tr>
                            <td>$fs['name']</td>
                            $if fs['status'] == '0' and fs['monitored'] == '2':
                                 <td style="color:orange">initializing</td>
                            $elif fs['status'] == '0' and fs['monitored'] == '1':
                                 <td style="color:green">accessible</td>
                            $elif fs['status'] == '2' and fs['monitored'] == '1':
                                 <td style="color:red">alert</td>
                            $elif fs['status'] == '0' and fs['monitored'] == '0':
                                 <td style="color:red">not monitored</td>
                            $elif fs['status'] == '512' and fs['monitored'] == '1':
                                 <td style="color:red">does not exist</td>
                            $else:
                                 <td style="color:red">unknown</td>

                            <td>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="$fs['percent']" aria-valuemin="0" aria-valuemax="100" style="width: $fs['percent']%;">
                                    <span class="show">$fs['usage']</span>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="$fs['inode_percent']" aria-valuemin="0" aria-valuemax="100" style="width: $fs['inode_percent']%;">
                                    <span class="show">$fs['inode_usage']</span>
                                  </div>
                                </div>
                            </td>
                            <td><button type="button" class="btn btn-info" action="edit" host-id="$host_id" proc-name="$fs['name']">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <!-- /container-->

        <!-- add-config-modal -->
        <div class="modal fade" id="add-config-modal">>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><h3>Add Configuration</h3></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="add-config-value-textarea">Configuration</label>
                                <textarea class="form-control" rows="5" id="add-config-value-textarea"></textarea>
                                <span class="help-block">Note: service names are unique. adding an existing service will overwrite the existing!</span>
                            </div>
                        </form>       

                        <a href="http://mmonit.com/monit/documentation/monit.html#service_tests" target="_blank">Documentation</a>   
                    </div>
                    <div class="modal-footer">
                        <div id="add-config-alert" class="alert alert-danger"></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="add-config-modal-save">Add Configuration</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- edit-config-modal -->
        <div class="modal fade" id="edit-config-modal">>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><h3>Edit Configuration</h3></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="edit-config-value-textarea">Configuration</label>
                                <textarea class="form-control" rows="5" id="edit-config-value-textarea"></textarea>
                            </div>
                        </form>       
                    </div>
                    <div class="modal-footer">
                        <div id="edit-config-alert" class="alert alert-danger"></div>
                        <button type="button" class="btn btn-danger" action="delete-config">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="edit-config-modal-save">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- confirmation-delete-modal -->
        <div class="modal fade" id="confirmation-delete-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <div id="confirmation-delete-alert" class="alert alert-danger"></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="continue-delete-button">Continue</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/include/jquery/jquery-1.10.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/include/bootstrap/js/bootstrap.min.js"></script>
        <!-- App -->
        <script src="/static/js/details.js"></script>
    </body>
</html>

